<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Elastic_Refresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70E8E7B81D9BC712000005FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E8E7D11D9BC712000005FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E8E7DC1D9BC712000005FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
